<html>
    <head>
        <title>LMI afglab</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
<!--         <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>    -->

        <link rel="stylesheet" href="{{ url_for('static',filename='asserts/bootstrap.min.css') }}">
        <script src="{{ url_for('static',filename='asserts/jquery.min.js') }}"></script>
        <script src="{{ url_for('static',filename='asserts/bootstrap.min.js') }}"></script>                
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>